{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1 class="header">Gowri's Running App</h1>
        </div>
    <div class="assignment">
        
    <table border="1">
    <tr>
    <th colspan="3">Assignments for July 2013</th>
    </tr>
    <th style="padding:8px;">Date</th><th style="padding:8px;">Runcoach Assignment</th><th style="padding:8px;"> Running Log(Garmin)</th>
    </tr>
            {% for assignment in assignments %}
            <tr>
            <td><h5>{{ assignment.date }}</h5></td>
            <td><ul>
                    <li>{{ assignment.workout_type}}</li>
                    <li>Miles: {{ assignment.miles}}</li>
                    <li>Time: 

                        {{ assignment.convert_seconds(assignment.low_time) }} 
                        - 
                        {{ assignment.convert_seconds(assignment.high_time) }}             
                    </li>
                </ul>   
            </td>
             {% endfor %}
             {% for log in logs %}
            <td>{{log.distance}} miles
                in {{log.time}}
            </td>
             {% endfor %}
            </tr>

            </table> 
            </div>
                               
    <p>  
    </div>
</div>
{% endblock %} 
