{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h1 class="header">Gowri's Running App</h1>
        </div>
    <div class="assignment">
        
    <table border="1">
    <tr>
    <th colspan="4">Assignments for July 2013</th>
    </tr>
    <th style="padding:8px;">Date</th><th style="padding:8px;">Runcoach Assignment</th><th style="padding:8px;"> Running Log(Garmin)</th><th style="padding:8px;">Goal</th>
    </tr>
 <!--Each day has one assigment. Each row in the table is one day-->
            {% for assignment in assignments %}
        <tr>
 <!--First column prints the date-->
            <td><h5>{{ assignment.date }}</h5></td>
<!--2nd column prints the workout type and details-->
            <td>
                <ul>
                    <b>{{ assignment.workout_type}}</b>

                    {% if assignment.workout_type == "Maintenance" or 
                          assignment.workout_type == "Long Run" %}
                        <li>Miles: {{ assignment.miles}}</li>
                        <li>Time: {{ assignment.convert_seconds(assignment.low_time).text }} 
                                {% if assignment.high_time != assignment.low_time %}
                                    - 
                                    {{ assignment.convert_seconds(assignment.high_time).text }}  
                                {% endif %}           
                        </li>
                    {% endif %}

                    {% if assignment.workout_type == "Track" or
                          assignment.workout_type == "Tempo" or
                          assignment.workout_type == "Threshold" %}
                            <li>Miles: {{ assignment.miles}}</li>                            
                    {% endif %}       
                        </li>                        
                </ul>   
            </td>
<!--3rd column prints the log data from Garmin for that date-->
            <td>
                <ul>
                    {% for log in assignment.logs %}
                    <li>Completed: {{log.distance}} miles in {{log.time}}</li>
                    {% endfor %}
                </ul>
            </td>
<!--4th column prints the analysis of whether the goal was met` -->
            <td>
                    {% if assignment.workout_type =="Cross Training" and
                        assignment.logs %}
                        Great!
        <!--Was distance goal met?-->
                    {% elif assignment.logs and assignment.logs.length %}
                        {% if assignment.logs_distance()>= assignment.miles %}
                        Distances added and Goal Met!
                        {% endif %}
                    
                    {% elif assignment.logs %}
                        
                        {% if assignment.logs[0].convert_distance() >= assignment.miles %}
                        Distance Goal Met! 
                        {% endif %}
                    {% endif %}
                    &nbsp;
            </td>
        </tr>
             {% endfor %}
            </table> 
            </div>
    <p>  
    </div>
</div>
{% endblock %} 

