@font-face {
  font-family: 'Kranky';
  font-style: normal;
  font-weight: 400;
  src: local('Kranky'), url(http://themes.googleusercontent.com/static/fonts/kranky/v3/sqMccMQdypdK4nBmxJC3-A.woff) format('woff');
}
